html {
  background-color: black;
}

#image2 {
  border: 5px solid white;
  width: 100%;
  border-radius: 1%;
}

#meme {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
}